@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animatemarquee {
  display: flex;
  animation: marquee 20s linear infinite;
} /* HeroSlider.module.css */

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animatemarquee {
  display: flex;
  animation: marquee 24s linear infinite;
  will-change: transform;
}

.animatemarquee::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
}
.animatemarquee:hover {
  animation-play-state: paused;
}
