.aboutImg {
  background-image: url("../../assests/aboutBg1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutImg2 {
  background-image: url("../../assests/about2ndImg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mobBg {
  background-image: url("../../assests/Ellipse\ 119.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


.custombullet li::before {
  content: "";
  background-image: url("../../assests/bulletAroowd3.svg");
  position: absolute;
  left: -32px;
  top: 0;
  width: 25px; /* Updated width */
  height: 25px; /* Updated height */
}

.custombullet li {
  position: relative;
  margin-left: 35px;

  font-size: 28px;
  font-weight: 500;
  line-height: 32px;

  padding-bottom: 20px;
}

.custombullet1 p {
  position: relative;
  margin-left: 35px;

  font-size: 28px;
  font-weight: 500;
  line-height: 42.18px;
}

.custombullet1 p::before {
  content: "";
  background-image: url("../../assests/ion_paper-plane-sharp.svg");
  position: absolute;
  left: -39px;
  top: 0;
  width: 34px;
  height: 27px;
}

.custombullet2 p {
  position: relative;
  margin-left: 25px;

  font-size: 20px;
  font-weight: 400;
  line-height: 28.18px;
}

.custombullet2 p::before {
  content: "";
  background-image: url("../../assests/custombullet3p3.svg");
  position: absolute;
  left: -28px;
  top: 8px;
  width: 14px; /* Updated width */
  height: 14px; /* Updated height */
}



@media screen and (max-width: 63.9375em) {
  .mobBg {
    background-image: url("../../assests/Ellipse\ 120.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  section .aboutImg {
    background-image: none;
  }

  section .aboutImg2 {
    background-image: none;
  }
  .aboutConbg {
    background-image: url("../../assests/Ellipse\ 120.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
